@font-face 
{
	font-family: Anton-Regular;
	src: url( '../fonts/Anton-Regular.ttf' );
}

:root
{
	--main-color: #150015;
	
	--color-1: #DADFF7;
	--color-2: #232C33;
	--color-3: #A0C1D1;
	--color-4: #B5B2C2;
}

*
{
	box-sizing: border-box;
	
	padding: 0;
	margin: 0;
}

html, body
{
	font-family: Anton-Regular;
}

.container
{
	background: url('../img/background-wood.jpg');
	background-size: cover;
	
	min-width: 800px;
	min-height: 600px;
	
	width: 100vw;
	height: 100vh;
	
	display: grid;
	
	grid-template-columns: 12fr 12fr 0.75fr 8fr;
	grid-template-rows: 4fr 1fr 24fr 1fr 4fr;
}


.top
{
	grid-column: 1 / 4;
	grid-row: 1;
	
	display: flex;
	
	justify-content: center;
	
	background: url('../img/background-wood.jpg');
	background-size: cover;
}

#title
{
  font-size: 1.7em;
	
}

.separator-horizontal-top
{
	background: url('../img/border-wood-90.jpg');
	
	grid-column: 1 / 5;
	grid-row: 2;
}

.separator-horizontal-bottom
{
	background: url('../img/border-wood-90.jpg');
	
	grid-column: 1 / 5;
	grid-row: 4;
}

.separator-vert-middle
{
	background: url('../img/border-wood.jpg');
	
    grid-row: 3;
	grid-column: 3;
}

.main
{
	background: url('../img/background-stone.jpg');
	background-size: cover;
	
	grid-column: 1 / 3;
	grid-row: 3;
	
	position: relative;
}

.main-header
{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	width: 90%;	
	min-height: 15%;
	
	position: absolute;
	
	margin-top: 10px;
	
}

.main-header .header-item
{
	background: url('../img/background-parchment-header-item.jpg');
	background-size: cover;
	
	margin: 5px;
	padding: 2px;
	
	min-width: 25%;
	
    opacity: 0.8;
}

.main-header .header-item p
{
	display: inline;
}

.clicker
{
	cursor: pointer;
	position: absolute;
}

#main-clicker
{
	width: 128px;	
	height: 128px;
	

}

#main-clicker.default
{
	background: url('../img/main-clicker-default.png');
	background-position: center;
	background-size: cover;
	
	width: 512px;
	height: 512px;
}

#main-clicker.tier-1
{
	background: url('../img/main-clicker-tier-1.png');
	background-position: center;
	background-size: cover;
	
	width: 512px;
	height: 512px;
}

#main-clicker.tier-2
{
	background: url('../img/main-clicker-tier-2.png');
	background-position: center;
	background-size: cover;
	
	width: 512px;
	height: 512px;
}

#main-clicker.tier-3
{
	background: url('../img/main-clicker-tier-3.png');
	background-position: center;
	background-size: cover;
	
	width: 512px;
	height: 512px;
}

#main-clicker.tier-4
{
	background: url('../img/main-clicker-tier-4.png');
	background-position: center;
	background-size: cover;
	
	width: 512px;
	height: 512px;
}

#main-clicker.tier-5
{
	background: url('../img/main-clicker-tier-5.png');
	background-position: center;
	background-size: cover;
	
	width: 512px;
	height: 512px;
}

#random-clicker
{
	background: url('../img/random-clicker-icon.png');
	background-size: cover;
	
	width: 64px;	
	height: 64px;
	
	display: none;
}

.menu
{
	background: url('../img/background-wood.jpg');
	background-size: cover;
	
	grid-column: 4;
	grid-row: 3;
	
	display: flex;
	flex-direction: column;
	
	align-items: flex-start;
	justify-content: flex-start;
}

.achievement-container
{
	min-width: 100%;
	
	display: flex;
	flex-direction: column;
}

.achievement-row
{
	background: inherit;
	
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: row;
	
	align-items: flex-start;
	justify-content: flex-start;
	
	flex-wrap: nowrap;
	
}

.achievement
{
	background: url('../img/background-marble-upgrade.jpg');
	background-size: cover;
	
	display: none;
	flex-direction: row;
	
	width: 48px;
	height: 48px;
	
	margin: 1px;
	padding: 2px;
	
	position: relative;
	
	cursor: pointer;
}

.achievement-hidden
{
	background: inherit;
	
	display: none;
	flex-direction: column;
	
	width: 240px;
	height: inherit;
	
	position: absolute;
	
	padding: 4px;
	
	left: -240px;
}

.achievement:hover .achievement-hidden
{
	display: flex;
}

.upgrade-container
{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: column;
}

.upgrade
{
	background: url('../img/background-marble-upgrade.jpg');
	background-size: cover;
	
	display: flex;
	flex-direction: row;
	
	width: 100%;
	min-height: 5%;

	margin: 2px 0;
	padding: 2px;
	
	opacity: 0.2;
}

.upgrade .upgrade-right
{
	display: flex;
	flex-direction: column;
	
	margin-left: auto;
}

.upgrade .purchase-button:hover
{
	cursor: pointer;
}

.bottom
{
	background: url('../img/background-wood.jpg');
	background-size: cover;
	
	grid-column: 1 / 4;
	grid-row: 5;
	
	display: flex;
	
	justify-content: center;
	align-items: center;
	
}

.centered-horizontally
{
	margin-left: auto;
	margin-right: auto;	
	
	left: 0;
	right: 0;
}

.centered-vertically
{
	margin-top: auto;
	margin-bottom: auto;
	
	top: 0;
	bottom: 0;
}